*.dylib filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
ArtifactDB filter=lfs diff=lfs merge=lfs -text
*.db !text !filter !merge !diff
*.dylib !text !filter !merge !diff
CM3203-c22037018/Library/ArtifactDB !text !filter !merge !diff
